<div class="container">
  <div class="dogimage">
    <h1 class="subtitle">hello!</h1>
    <%= link_to "ログイン(閲覧用)", login_path, {class: "links btn btn-danger title-btn"} %><br />
    <%= link_to "新規登録", signup_path, {class: "links btn btn-info title-btn"}%><br />
    <%= link_to '利用規約', static_pages_path, {class: "links btn btn-warning title-btn"}%><br />
    <%= link_to '機能紹介', static_pages_introduce_path, {class: "links btn btn-success title-btn"}%><br />
  </div>
</div>