<div class="introduce-topimage text-center">
  <h2 class="introduce-text">機能紹介</h2>
</div>
<div class="introduce-title">
<h3><img src="/assets/check.jpeg" alt="blog-image">予約から記録まで</h3>
</div>
<div class="introduce-back">
  <div class="introduce-main1">
    <h4 class="main">簡単に登録</h4>
    <div class='introduce-item'>
      <img src="/assets/note.jpeg" alt="blog-image">
      <h5 class="introduce-list">体調を記入</h5>
      <p>食欲・元気・排便排尿など<br>
      日常の様子を記録できます。</p>
    </div>
    <div class='introduce-item'>
      <img src="/assets/glaf.jpeg" alt="blog-image">
      <h5 class="introduce-list">体重を記入</h5>
      <p class="margin">体重をグラフ化し変化を<br>
      わかりやすく見ることができます。</p>
    </div>
    <div class='introduce-item'>
      <img src="/assets/pencil.jpeg" alt="blog-image">
      <h5 class="introduce-list">プロフィール登録</h5>
      <p class="margin">飼い主様とペットのプロフィールを<br>
      簡単に登録できます。</p>
    </div>
  </div>
  <div class="introduce-main1">
     <h4 class="main">わかりやすく確認</h4>
    <div class='introduce-item'>
      <img src="/assets/house.jpeg" alt="blog-image">
      <h5 class="introduce-list">予約機能</h5>
      <p>ホテル・しつけ・入院の<br>
      予約をとることが出来ます。</p>
    </div>
    <div class='introduce-item'>
      <img src="/assets/calender.jpeg" alt="blog-image">
      <h5 class="introduce-list">カレンダー表示</h5>
      <p class="margin">予約の混み具合をカレンダーで確認でき、<br>
      カレンダーから予約のキャンセルも可能です。</p>
    </div>
    <div class='introduce-item'>
      <img src="/assets/list.jpeg" alt="blog-image">
      <h5 class="introduce-list">お世話リスト</h5>
      <p class="margin">記入しやすいように今日の<br>
      お世話するペット達が一覧で表示されます。</p>
    </div>
  </div>
</div>