  <%= form_for(@pet, url: pet_path) do |f| %>
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <div class="row">
          <div class="col-lg-2 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-8">
            <div class="p-5">
              <div class="text-center">
                <h2 class="h4 text-gray-900 mb-4">ペットプロフィール編集ページ</h2>
                <hr>
              </div>
              <%= render 'shared/pet_form', f: f %>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
