body{
  margin:0;
 }

header{
  background-color: #C1E5FF;
  height: 100px;
  padding-top: 30px;
  font-size: larger;
}



footer{
  background-color: #C1E5FF;
  height: 100px
}

.nav-link {
  color: black;
}

.app-name{
  text-align: right; 
}

.btn.outline{
  background-color: #FF8EA3;
  border: 3px solid #FF8EA3;
}

.links{
  color: black;
}

.pagination>li>a {          
  border: none;
  color: #696969;
}

.pagination>.active>a {     
  background: #C1E5FF;
  border-radius: 15px;
}

.pagination>li>a:hover {        
  border-radius: 15px;
}

.paginate{
  margin: auto;
}