
header{
  background-color: #C1E5FF;
  
}
.nav-link{
  color: black;
}

footer{
  background-color: #C1E5FF;
}
.app-name{
  text-align: right; 
}
.btn.outline{
  background-color: #FF8EA3;
  border: 3px solid #FF8EA3;
}

.links{
  color: black;
}