.subtitle {
  color: black;
  font-family: Courier;
  margin-bottom: 70px;
  margin-left: 185px;
}

.title-btn{
  margin-bottom: 20px;
  margin-left: 210px;
}

.dogimage{
  background-image: image-url("dog.jpg");
  background-size: cover;
  height: 800px;
  margin-right: 0px;
}
